<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=devicewidth,initial-scale=1,maximum-scale=3">
    <title>test</title>
  </head>
  <body>
    <h1>Hello</h1>
    <hr />
    <img src="/static/images/button_blue1.png" width="30%">
    <img src="/static/images/button_yellow1.png" width="30%">
    <img src="/static/images/button_red1.png" width="30%">
    <br />
    <img src="/static/images/button_up.png" width="30%">
    <img src="/static/images/button_up.png" width="30%">
    <img src="/static/images/button_up.png" width="30%">
    <br />
    <img src="/static/images/button_left.png" width="30%">
    <img src="/static/images/button_center.png" width="30%">
    <img src="/static/images/button_right.png" width="30%">
    <br />
    <img src="/static/images/button_down.png" width="30%">
    <img src="/static/images/button_down.png" width="30%">
    <img src="/static/images/button_down.png" width="30%">
    <hr />
  </body>
</html>
