<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Robot Car</title>
    <meta charset="utf-8"
    <meta name="viewport" content="width=devicewidth,initial-scale=1,maximum-scale=3">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
      function post(val) {
	  var data = {"cmd": val};
	  $.post("/action", data);
      }
    </script>
  </head>
  <body>
    <img src="localhost:9000/?action=streaming">
    <hr />
    <div align="center">
    <table>
      <tboty>
	<tr>
	  <td></td>
	  <td>
    <input type="image" src="/static/images/button_blue1.png" width="70px"
	   onClick="post('@');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_yellow1.png" width="70px"
	   onClick="post('s');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_red1.png" width="70px"
	   onClick="post('S');">
	  </td>
	  <td></td>
	</tr>
	<tr>
	  <td>
    <input type="image" src="/static/images/button_up.png" width="70px"
	   onClick="post('aw');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_up.png" width="70px"
	   onClick="post('q');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_up.png" width="70px"
	   onClick="post('w');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_up.png" width="70px"
	   onClick="post('e');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_up.png" width="70px"
	   onClick="post('dw');">
	  </td>
	</tr>
	<tr>
	  <td>
    <input type="image" src="/static/images/button_left.png" width="70px"
	   onClick="post('aS');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_left.png" width="70px"
	   onClick="post('a');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_center.png" width="70px"
	   onClick="post('S');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_right.png" width="70px"
	   onClick="post('d');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_right.png" width="70px"
	   onClick="post('dS');">
	  </td>
	</tr>
	<tr>
	  <td></td>
	  <td>
    <input type="image" src="/static/images/button_down.png" width="70px"
	   onClick="post('z');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_down.png" width="70px"
	   onClick="post('x');">
	  </td>
	  <td>
    <input type="image" src="/static/images/button_down.png" width="70px "
	   onClick="post('c');">
	  </td>
	  <td></td>
	</tr>
</tbody>
</table>
</div>
    <hr />
  </body>
</html>
